<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Author :{{author}}</h1>
    <h1>age :{{age}} </h1>
    <h1>list :{{lst}} </h1>
    <h1>This is Home page</h1>
    

    {% comment %}  {% endcomment %}

    {% if age >= 20 %}
        <h3> You will get driving license </h3>
    {% elif age <= 20 and age >= 10 %}
        <h3> You will not get driving license </h3>
    {% else %}
        <h3> You are a child </h3>
    {% endif %}

    {% comment %}  {% endcomment %}

    {% for i in courses %}
    <h3> {{i.id}}  {{i.name}} {{i.fee}} </h3>
    {% endfor %}
</body>
</html>