{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content%}


<div class="container mt-20">
  <h1 class="text-xl text-center font-bold pb-8">Edit your profile</h1>



  <form method="post" class="sm:w-3/5 md:w-[500px] m-auto
  p-12  " novalidate>
    {% csrf_token %}
    <!-- {{form|crispy}} -->
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors%}
    <p class="bg-red-800 text-white p-4 mb-4">{{er}}</p>
    {% endfor%}
    {% endif%}

    {% for fm in form%}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}
    {% endfor %}

    <button class="bg-sky-600 hover:bg-sky-700 px-4 py-2 rounded-md text-white mt-8"> Edit Change </button>

  </form>

</div>




{% endblock %}