{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container mt-20">

    <h1 class="text-4xl text-center font-bold pb-8">Sign Up</h1>



    <form method="post" class="sm:w-3/5 md:w-[500px] m-auto
p-12 bg-white  rounded-md shadow-lg " novalidate>
        {% csrf_token %}
        <!-- {{form|crispy}} -->

        {% for fm in form%}
        {{fm.label_tag}}
        {{fm}}
        {{fm.errors|striptags}}
        {% endfor %}

        <div>
            <button class="bg-sky-600 hover:bg-sky-700 px-4 py-2   rounded-md text-white mt-12"> Sign Up </button>
            <br>
            <small>Already have an account <a href="{% url 'login' %}" class="font-bold">Login</a> </small>
        </div>
    </form>





</div>




{% endblock%}