{% extends "base.html" %} {% block content %} {% load static %}
<div class="d-flex flex-wrap m-5 align-items-center justipy-content-between">
  <div class="col-6 pe-3">
    <h3>Welcome to django blog</h3>
    <p>
      1,354 Free images of Blogging. Thousands of blogging images to choose
      from. Free high resolution picture download. Free Wordpress Blogging photo
      and picture. 1,354 Free images of Blogging. Thousands of blogging images
      to choose from. Free high resolution picture download. Free Wordpress
      Blogging photo and picture. 1,354 Free images of Blogging. Thousands of
      blogging images to choose from. Free high resolution picture download.
      Free Wordpress Blogging photo and picture.
    </p>
  </div>
  <div class="col-6">
    <img src="{% static 'Header.jpg'%}" style="width: 600px" />
  </div>
</div>
<div class="p-4">
  <h5>All Brand</h5>
  <div class="d-flex gap-3">
    {% for br in brand %}
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-title="Tooltip on top"
    >
      <a
        href="{% url 'brand_wise' br.slug %}"
        class="text-decoration-none text-white"
      >
        {{br.BrandName}}
      </a>
    </button>
    {% endfor %}
  </div>
</div>
<div class="p-3">
  <h4>{{data | length}} Results Found</h4>

  <div class="d-flex flex-wrap px-5 py-5">
    {% for post in data %}
    <div class="col-sm-3">
      <div class="card mx-2 my-2 bg-none">
        <div class="card-body ms-3">
          <img src="{{post.image.url}}" class="card-img-top" />
          
          <p class="card-text">{{post.CarName}}</p>
          <p class="card-text">{{post.price}}</p>

          <p class="card-text">
            Author : {{post.author.first_name}} {{post.author.last_name}}
          </p>

          <p class="card-text">
            <button class="btn btn-warning btn-sm m-2" disabled>
              Brands : {{post.CarName}}
            </button>
          
          </p>

          <h5 class="card-title">
            <a
              href="{% url 'detail_post' post.id %}"
              class="text-decoration-none text-black btn btn-warning"
            >
              Details</a
            >
          </h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
