{% extends "base.html" %} {% load crispy_forms_tags %} {% block content%}

<div class="mt-20">
  <h1 class="text-4xl text-center font-bold pb-8">Your Profile</h1>

  <div class="d-flex flex-wrap gap-5 m-5">
    <!-- Sidebar Section -->
      <div class="">
        {% for trnsaction in historys %}
        <div class="">
          <div class="card mx-1 my-2">
            <div class="card-body ms-3">
              <h5 class="card-title">{{trnsaction.image.url}}</h5>
              <p class="card-text">{{trnsaction.title}}</p>
              <p class="card-text">{{trnsaction.money}}</p>
              <p class="card-text">
                Author : {{trnsaction.author.first_name}}
                {{trnsaction.author.last_name}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


    <!-- Main Content Section -->

    <div class="d-flex gap-2">
      {% for post in data %}
      <div class="">
        <div class="card">
          <div class="card-body ms-3">
            <p class="card-text">{{post.brandName}}</p>
            <p class="card-text">{{post.price}}</p>
            <p class="card-text">
              Author : {{post.author.first_name}} {{post.author.last_name}}
            </p>
            <p class="card-text">
              Brands :
              <button class="btn btn-warning btn-sm m-2" disabled>
                {{post.CarName}}
              </button>
            </p>

            <a href="{% url 'edit_post' post.id %}" class="btn btn-primary"
              >Edit</a
            >
            <a href="{% url 'delete_post' post.id %}" class="btn btn-primary"
              >Delete</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
